* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.header-container {
    padding: 20px 50px;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu {
    display: flex;
    gap: 14px;
}

.logout-btn {
    padding: 0;
    border: none;
    background-color: transparent;
    font-size: 16px;
    color: black;
}

.logout-btn:hover {
    text-decoration: underline;
    color:rgb(7, 7, 204);
    background-color: transparent;
}


button {
    padding: 4px 8px;
    cursor: pointer;
    border: none;
    color: white;
    background-color: #78b5f1;
    font-weight: 800;
    font-size: 14px;
}

button:hover {
    background-color: rgb(156, 183, 233);
}

a { color: rgb(106, 106, 173); }
a:visited { color: rgb(56, 56, 192); }
a:hover { color: orange; }

.filter {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
}

.body-title {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
hr{
    height: 2px;
    background-color: rgb(55, 7, 228);
    border: none;
}